 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Custom Styles
body {
  background: url(../images/mult-cats.png);
}

.listContainer {
  margin: 50px auto 0 auto;
  width: 535px;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  background-color: #eee;
  border-radius: 6px;
  padding: 30px;
  padding-top: 20px;
  img {
    position: absolute;
    width: 100px;
    height: 80px;
    margin-top: -10px;
    margin-left: 80px;
  }
  h2 {
    margin-top: 0;
    margin-left: 200px;
    border-left: 1px solid;
    padding-left: 20px;
    text-align: center;
    font-weight: bolder;
    display: inline-block;
  }
  #submit {
    display: none;
  }
}

.input {
  input {
    width: 475px;
    height: 35px;
    outline: none;
  }
  button {
    &:hover {
      background-color: red;
      border: 1px solid;
    }
  }
}

.list {
  padding: 0;
  li {
  list-style: none;
  margin-left: 0.5px;
  padding-left: 50px;
  width: 474px;
  height: 35px;
  border: 1px solid HSLA(0, 0%, 76%, 1);
  background-color: white;
  margin-bottom: 5px;
  text-overflow: ellipses;
  img {
    float: left;
    height: 33px;
    width: 40px;
    margin-left: -49px;
    }
  }
  button {
    width: 10px;
    height: 0;
    float: right;
    margin: 9px 5px 0px 0px;
    &:hover {
      margin: 2px 2px 0px 0px;
      height: 30px;
      width: 62px;
      border-radius: 5px;
      border: solid 1px HSLA(0, 0%, 76%, 1);
      background-color: red;
      color: white;
    }
  }
}

.delete-item {
  float: right;
  text-decoration: none;
}

#belowList {
  width: 475px;
  margin: 0 auto;
}

h5 {
  margin-top: -30px;
  height: 30px;
  background-color: HSLA(0, 0%, 76%, 1);
  padding: 6px;
}
