 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Custom Styles
.slime{
  position: absolute;
  top: 32px;
  left: 410px;
  img {
    width: 150px;
  }
}
.listContainer {
  margin: 50px auto 0 auto;
  width: 535px;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  background-color: #eee;
  border-radius: 6px;
  padding: 30px;
  padding-top: 20px;
  -webkit-box-shadow: 0px 0px 100px 3px rgba(0,0,0,0.55);
  -moz-box-shadow: 0px 0px 100px 3px rgba(0,0,0,0.55);
  box-shadow: 0px 0px 100px 3px rgba(0,0,0,0.55);
  .party-kitty {
    position: absolute;
    width: 100px;
    height: 80px;
    margin-top: -10px;
    margin-left: 80px;
  }
  h2 {
    margin-top: 0;
    margin-left: 200px;
    border-left: 1px solid;
    padding-left: 20px;
    text-align: center;
    font-weight: bolder;
    display: inline-block;
  }
  #submit {
    display: none;
  }
}

.input {
  input {
    width: 475px;
    height: 35px;
    outline: none;
    transition: color .6s;
  }
  button:hover {
      background-color: red;
      border: 1px solid;
  }
}

.list {
  padding: 0;
  li {
  list-style: none;
  margin-left: 0.5px;
  padding: 5px 0px 0px 50px;
  width: 474px;
  height: 55px;
  border: 1px solid HSLA(0, 0%, 76%, 1);
  background-color: white;
  margin-bottom: 5px;
  background: HSLA(97, 57%, 68%, 1);
  cursor: pointer;

  img {
    float: left;
    height: 45px;
    width: 45px;
    margin: -2px 0px 0px -47px;
    }
  }
  button {
    width: 30px;
    height: 30px;
    float: right;
    margin: -8px -8px 0px 0px;
    transition: padding 1s;
    // &:hover {
    //   margin: 0px 2px 0px 0px;
    //   height: 30px;
    //   width: 30px;
    //   border-radius: 5px;
    //   border: solid 1px HSLA(0, 0%, 76%, 1);
    //   background-color: red;
    //   color: white;
    // }
  }
}

.delete-item {
  float: right;
  text-decoration: none;
}

#belowList {
  width: 475px;
  margin: 0 auto;
  height: 80px;
}

h5 {
  margin-top: -30px;
  height: 30px;
  background-color: HSLA(0, 0%, 76%, 1);
  padding: 6px;
  overflow: hidden;
  &:hover {
    color: red;
  }
}

.filters {
  margin-top: -55px;
  list-style: none;
  float: right;
  font-size: 0.83em;
  font-weight: bolder;
  a {
    color: black;
  }
  li {
    float: right;
    padding: 10px 10px 10px 5px;
    &:hover {
      color: red;
    }
  }
}

.completed { // for marking item as complete
  background-color: green;
}
