 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Custom Styles
body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

.listContainer {
  margin: 50px auto 0 auto;
  width: 600px;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  background-color: #eee;
  border-radius: 6px;
  padding: 60px;
}

.input {
  input {
    width: 88%;
    height: 35px;
  }
}

.list {
  padding: 0;
  li {
  list-style: none;
  padding-left: 50px;
  width: 475px;
  height: 35px;
  border: 1px solid;
  background-color: white;
  margin-bottom: 5px;
  img {
    float: left;
    height: 33px;
    width: 40px;
    margin-left: -49px;
    }
  }
  button {
    // display: none;
    float: right;
    margin: 9px 5px 0px 0px;
  }
}
